.mainchat
  .mainheader
    .mainheader__left
      test
      .mainheader__left__members
        Menber：
      .mainheader__left__members-menber
      natsuki
 
.massage 
  .messages
    .massage__upper-info
    .massage__upper-info__talker
      .massage__upper-info__date
      .message__text
        