.header 
  %h3.header__name
    = link_to "chat-space", root_path
  %ul.header__lists
    %li.list-right
      = link_to "#" do
        %i.fa.fa-pen-square.icon
    %li.list-left
      = link_to "#" do
        %i.fa.fa-cog.icon
.groups
  .group 
    .group__group-name
      test
    .group__latest-massage
      test
