.message {
  padding: 20px 0;
  &__who {
      @extend .clearfix;
      padding: 10px 0;
      &--name {
          float: left;
          font-size: 16px;
          font-weight: bold;
          color: #434A54;
      }
      &--time {
          float: left;
          font-size: 12px;
          color: #999;
          padding: 0 10px 10px;
      }
  }
}
.message__what {
  font-size: 14px;
  font-weight: #434A54;
}